/*
 Theme Name: fourofour
 Theme URI: http://404.intermediae.org/
 Description: 404 collaborative/moving theme.
 Author: 404
 Author URI: http://404.intermediae.org/
 Version: 1.0
 License: AGPLv3
 License URI: http://www.gnu.org/licenses/agpl-3.0.html
 
 */

*{margin:0; border:none; padding:0;}

.post-box{
    width:47%;
    padding: 12px;
}

.post-title{
    font-family:sans-serif;
    font-size:40.4pt;
    margin-bottom:32px;
}

.post-content{
    
}

#git-box{
    position:absolute;
    top:0;
    right:0;
    width:50%;
}

.git_image{
    width:100%;
}